td img{
    width: 150px;
}

td.hide{
    content-visibility: hidden;
}

.btn-primary {
  width: auto;
  padding: 10px 20px; 
  border: none;
}


button:hover {
  color: aliceblue;
}

.cart-container {
  margin-top: 20px;
  display: flex;
  flex: 0 0 auto; /* No permitir que el carrito crezca más allá de su contenido */
  margin-left: 20px;
}



/* Estilos para el mensaje de error */
.alert-danger {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: #dc3545;
}



header {
  background-color: #2C5F2D; 
  color: #FFFFF0; 
}

/* Lista de Cervezas */
.cervezas-container {
  background-color: #F5F5DC; 
  color: #333333;
}

.cerveza-estado.sin-stock {
  color: #FF6961;
}

.cerveza-estado.en-stock {
  color: #77DD77; 
}


td[_ngcontent-ng-c1572017559] img[_ngcontent-ng-c1572017559] {
  width: 115px;
}
/* Carrito de Compras */


.button-carrito {
  background-color: #FFB74D; 
  color: #FFFFFF; 
}
h1{
  color: #4B3A3A; 
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF; 
}

.table th, .table td {
  border: 1px solid #ddd; 
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #2C5F2D;
  color: white;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f2f2f2; 
}

/* Estilo para filas sin stock */
.badge.text-bg-danger {
  background-color: #FF6961;
  color: white;
}

.hide {
  color: #333333; 
}

.promocion {
  color: #77DD77;
}

/* Botones */
button { 
  background-color: #198754;
  color: #FFFFFF; 
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}


button:hover, .table th {
  background-color: #2C5F2D;
}

/* Contenedor principal */

.d-flex {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .d-flex {
    flex-direction: row;
  }
}

.title-and-table-container {
  flex: 1;
  margin-right: 1rem;
}

.cart-container {
  flex: 0 0 300px; 
  margin-left: 1rem;
}

.custom-table {
  width: 100%;
}

.img-api {
  max-width: 100px; 
  height: auto;
}


/* Imagen de la cerveza */
img {
  width: 100px; 
  height: auto;
  border-radius: 5px;
}