<h1>{{titulo}}</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Cerveza</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      @for(beer of listaCarrito$ | async; track beer.id ){
      <tr>
        <td colspan="4">
          {{beer.nombre}}
        </td>
        <td>
          {{beer.cantidad}}
        </td>
      </tr>
      
    }
    </tbody>
  </table>

  <h3>Resumen de compra</h3>
  <hr>
  <p>Pagás: $12.103</p>
  <p>Envio: <span class="badge text-bg-success">Gratis</span></p>