<!-- Fondo oscuro -->
<div class="modal-backdrop">
  <div class="modal-content">
    <!-- Contenedor del pop-up -->
    <div class="modal-header">
      <h5 class="modal-title">Verificación de Edad</h5>
    </div>
    <div class="modal-body">
      <p>
        Debes ser mayor de 18 años para acceder a este sitio. ¿Sos mayor de 18 años?
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="confirmarEdad()">Si</button>
      <button class="btn btn-secondary" (click)="negarEdad()">No</button>
    </div>
  </div>
</div>
