<h1>{{title_beers}}</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Promocion</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      @for(beer of beers; track beer.id){
        <tr>
          <th scope="row">{{ beer.id }}</th>
          <td>{{ beer.nombre }}</td>
          <td>{{ beer.tipo }}</td>
          <td>{{beer.precio | currency}}</td>
          @if (beer.stock > 0) {
            <td>{{beer.stock}}</td>
          }@else {
            <td> <span class="badge rounded-pill text-bg-danger">Sin stock</span></td>
          }
          <td [ngClass]="{ 'promocion': beer.promocion }">{{ beer.promocion ? '✔' : '❌' }}</td>
          <td>
            <button type="button" class="btn btn-dark" (click)="disminuirCantidad(beer)">-</button>
            <input type="number" [(ngModel)]="beer.cantidad" (input)="onCantidadChange($event, beer)">
            <button type="button" class="btn btn-dark" (click)="aumentarCantidad(beer)">+</button>
          </td>
          <td><img [src]="beer.img" [alt]="beer.nombre"></td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4">No hay cervezas para mostrar</td>
        </tr>
      }
   
    </tbody>
  </table>