
footer .fat-footer{
    display: flex;
    gap: 16rem;
    align-items: baseline;
    width: 100%;
    padding: 1rem;
    background-color: black;
    color: aliceblue;
}
    
.fat-footer .pImagenes {
    display: flex;
}

.fit-footer-copyrigth, .fit-footer-p{
    display: flex;
    flex-direction: row;
    background-color: rgb(117, 116, 116);
}

.fat-footer-pLogo span, .fit-footer-copyrigth p span{
    font-family: var(--fuente-logo);
}

.fit-footer-p{
    margin-left: 48rem;
    gap: 2rem;
}

.p-ffooter{
   margin-left: 2.5rem;
}