
footer {
    background-color: black; 
    color: aliceblue; 
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .fat-footer {
    display: flex;
    gap: 16rem;
    align-items: baseline;
    width: 100%;
    padding: 1rem;
    background-color: black;
    color: aliceblue;
    max-height: max-content;
}

.fat-footer .pImagenes {
    display: flex;
}

.fit-footer-copyrigth, .fit-footer-p {
    display: flex;
    flex-direction: row;
    background-color: rgb(117, 116, 116);
}

.fat-footer-pLogo span, .fit-footer-copyrigth p span {
    font-family: var(--fuente-logo);
}

.fit-footer-p {
    margin-left: 48rem;
    gap: 2rem;
}

.p-ffooter {
    margin-left: 2.5rem;
}
