header {
    background-color: #2C5F2D; /* Verde Botella */
    color: #FFFFF0; /* Marfil */
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

header img{
    width: 100px;
}

footer {
    background-color: #2C5F2D; /* Verde Botella Oscuro */}

footer a:hover {
    color: #FFB74D !important; /* Amarillo Mostaza */
    text-decoration: underline;
}
