input{
    max-width: 40px;
    outline: none;
    
}
.input-group{
    flex-wrap: nowrap;
}

.increment-btn, .decrement-btn {
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 5px;
}

.increment-btn:hover, .decrement-btn:hover, .increment-btn, .decrement-btn {
    background-color: #2C5F2D; 
}

