<section id="about">
    <h2>Sobre Nosotros</h2>
    <p>Bienvenidos a nuestra SPA. Aquí está más sobre nuestra historia
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos iure possimus adipisci at nemo culpa cumque nulla, impedit minima vel deleniti, dolorum rerum omnis libero temporibus quae animi officia esse.
    </p>
    
    <h3>Nuestra Misión</h3>
    <p>Innovar y ofrecer productos de calidad que satisfagan las necesidades de nuestros clientes.</p>
    
    <h3>Nuestro Equipo</h3>
    <ul>
        <li>Luciano Oroquieta - Fundador y CEO</li>
        <li>Tomas Tourn - CTO</li>
        <li>Santiago Bugnon - PO</li>
    </ul>
    
    <h3>Nuestros Valores</h3>
    <ul>
        <li>Innovación</li>
        <li>Integridad</li>
        <li>Enfoque en el Cliente</li>
    </ul>
</section>
